$white: #fff;
$black: #000;
$lime: #bed12a;
$purple: #8d2ad2;
$light-grey: #565656;
$medium-grey: #3e3e3e;
$grey:#323232;
$dark:#171515;

//breakpoints


// breakpoint-xs: 0;
// breakpoint-sm: 576px;
// breakpoint-md: 768px;
// breakpoint-lg: 992px;
// breakpoint-xl: 1200px;
// Respond above.
// h1 {
    //     font-size: 99px;

    //     @include media-breakpoint-up(sm) {
    //         font-size: 99px;
    //     }

    //     @include media-breakpoint-up(md) {
    //         font-size: 99px;
    //     }
    // }