/* Fonts */


a {
    color: $lime;
    border: 0;

    &:hover {
        text-transform: none;
        color: $lime;
    }
}

h1 {
    font-family: 'Abel';
}

h2 {
    font-family: 'Abel';
}

h2.dark {
    font-family: 'Abel';
    font-size: 56px;
    color: $white;
    min-width: 100%;

    @include media-breakpoint-down(xs) {
        font-size: 36px;
    }

    span {
        color: $lime;
    }

}

h2.dark {
    font-family: 'Abel';
    font-size: 56px;
    color: $dark;
    min-width: 100%;

    @include media-breakpoint-down(xs) {
        font-size: 36px;
    }

    span {
        color: $lime;
    }
}

h2.sub-title {
    font-size: 25px;
    letter-spacing: 1px;
}

h3 {
    font-family: 'Abel';
}

h4 {
    font-family: 'montserratlight';
}

h5 {
    font-family: 'Abel';
}

p {
    font-family: 'montserratlight';
}

p.max-width-center {
    max-width: 600px;

}

body {
    font-family: 'Abel';
}

.bold {
    font-family: 'Abel';
}

.italic {
    font-family: 'Abel';
}

.text-light-grey {
    color: $light-grey;
}

h1,
h2,
h3,
h4,
h5,
p,
div,
span,
td,
tr,
table,
a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

a {


    &:hover {}
}

//buttons


.btn-1 {
    background: none;
    color: $white;
    transition: 0.3s ease-in-out;
    border: 0;
    border-radius: 5px;
    text-decoration: none;

    &:hover {
        opacity: 0.5;
    }
}

.btn-2 {
    background: $lime;
    color: $dark;
    transition: 0.3s ease-in-out;
    border: 0;
    border-radius: 5px;

    &:hover {
        background-color: $white;
        color: $lime;
        text-decoration: none;
    }
}